@import 'src/_partials/_var';

header
{
	@include general;
	// height: 10em;
	grid-area: h;
	display: grid;
	grid-template-areas: 	". . d d . ."
							"p p d d . ."
							"p p q q . .";
	text-align: center;

	.photo
	{
		grid-area: p;
		justify-self: center;
		padding: 0.5em;
        --aug-border: 5px;
        --aug-inset: 5px;
        --aug-border-bg: #{$main-color};
        --aug-inset-bg: #{$main-color};
        --aug-br: 25px;
		--aug-t-width: 65%;
		--aug-t-height: 4em;
		--aug-l-width: 4em;
		--aug-l-height: 65%;
		background-color: $backgroundCyberpunk;

		img
		{
			max-width: 10em;
			padding-top: 3em;
			padding-left: 3em;
		}
	}

	.title
	{
		grid-area: d;
		--aug-border: 5px;
	    --aug-inset: 5px;
	    --aug-border-bg: #{$main-color};
	    --aug-inset-bg: #{$main-color};
	    --aug-tl: 25px;
	    --aug-tr: 25px;
	    --aug-bl: 25px;
		--aug-br: 25px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	q
	{
		grid-area: q;
		@include general;
	}

	@media screen and (max-width: $breakpoint-one) 
	{
		padding: 0;
		grid-template-areas: initial;
		grid-template-columns: 10em calc(100% - 10em);
		grid-template-rows: $top-from 2em;

		.title
		{
			--aug-tl: 0px;
			--aug-tr: 0px;
			--aug-bl: 0px;
			--aug-br: 0px;
			width: 100%;
			grid-column: 2;
			grid-row: 1;
		}

		.photo
		{
			grid-column: 1;
			grid-row: 1;
			padding: 0;
			--aug-t-width: 0%;
			--aug-t-height: 0em;
			--aug-l-width: 0em;
			--aug-l-height: 0%;
			--aug-br: 0px;
			justify-self: left;

			img
			{
				max-width: auto;
				padding-top: 0;
				padding-left: 0;
			}
		}

		q
		{
			grid-column: 1 / span 2;
			grid-row: 2;
			height: $quote-from;
			width: 100%;
		}
	}
}