@import 'src/_partials/_var';

.modal
{
	grid-area: m;
	margin: 2em;
	min-height: 30em;
	--aug-border: 5px;
	--aug-inset: 5px;
	--aug-border-bg: #{$main-color};
	--aug-inset-bg: #{$main-color};
	--aug-tl: 25px;
	--aug-tr: 25px;
	--aug-bl: 25px;
	--aug-br: 25px;
	display: flex;
	flex-direction: column;
	@include general;
	overflow: auto;

	h2
	{
		text-align: center;
	}

	nav
	{
		display: flex;
		justify-content: space-around;
		padding: 1em;

		a
		{
			padding: 1.5em;
			--aug-border: 5px;
			--aug-inset: 5px;
			--aug-border-bg: #{$main-color};
			--aug-inset-bg: #{$main-color};
			--aug-t-width: 50%;
			--aug-t-height: 10px;
			background-color: $backgroundCyberpunk;
			color: black;
			font-size: 1.1em;
			transition: 1s all;

			&.current, &:hover, &:focus
			{
				background-color: black;
				color: silver;
			}
		}
	}

	section
	{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		.card:last-child
		{
			display: none;
		}
	}

	.closeModal
	{
		display: none;
	}

	@media screen and (max-width: $breakpoint-one) 
	{
		display: none;

		&.show
		{
			display: initial;
			position: absolute;
			top: $top-from;
			left: $margeToPush;
			right: 0;
			bottom: 0;
			margin: 0;
			--aug-tl: 0px;
			--aug-tr: 0px;
			--aug-bl: 0px;
			--aug-br: 0px;
			background-color: white;
			z-index: 3000;
			overflow: hidden;

			section
			{
				overflow: auto;
				height: 100%;
				margin-bottom: 50em;

				.card:last-child
				{
					display: block;
					flex: 1 0 100%;
					opacity: 0;
				}
			}

			.closeModal
			{
				display: initial;
				--aug-b-width: 50%;
				--aug-b-height: 10px;
			}
		}
	}
}