@import 'src/_partials/_var';

#root
{
	width: calc(100vw - 2 * #{$marge} );
	margin: $marge;
	box-shadow: 2px 2px 2px $main-color;
	border-style: solid;
	border-color: $main-color;
	border-width: 1px;
	border-radius: 25px;
	background-color: white;
	font-size: 1.6em;

	main
	{
		display: grid;
		grid-template-areas:	"h h h h h h"
								"a n n n n n"
								"a m m m m m"
								"a m m m m m"
								"a m m m m m"
								"a m m m m m"
								"a m m m m m"
								"a m m m m m"
								"a m m m m m"
								"a m m m m m"
								"a m m m m m"
								"a m m m m m"
								"a m m m m m"
								"f f f f f f";
	}

	footer
	{
		grid-area: f;
		padding-right: 5em;
		text-align: right;
		height: $bottom-from;
	}

	@media screen and (max-width: $breakpoint-one) 
	{
		position: absolute;
		top:0;
		right: 0;
		left: 0;
		bottom: 0;
		margin: 0;
		width: 100vw;
		border-radius: initial;
		grid-template-areas: initial;

		main
		{
			grid-template-areas: initial;
			display: initial;
			&>section:not(.left-column):not(.modal)
			{
				position: relative;
				left: $margeToPush;
				padding-right: $margeToPush;
			}

			footer
			{
				position: absolute;
				bottom: 0;
				right: 0;
			}
		}

	}
}