@import 'src/_partials/_var';

#root
{
	width: calc(100vw - 2 * #{$marge} );
	margin: $marge;
	box-shadow: 2px 2px 2px $main-color;
	border-style: solid;
	border-color: $main-color;
	border-width: 1px;
	border-radius: 25px;
	background-color: white;
}